{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Gourds index{% endblock %}
{% block content %}
<div class="content">
    <div class="page-header">
     <h1>Please Login</h1>
        <form method="post">
            {{ form.hidden_tag() }}
            <!--li>{{ form.name.label }} {{ form.name() }}</li>
            <li>{{ form.pwd.label }} {{ form.pwd() }}</li>
            <li>{{ form.submit() }}</li-->
            {{ wtf.quick_form(form) }}
        </form>
    </div>
</div>
{% endblock content %}

